@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.name-color {
    padding: 10px 20px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    border: none;
    cursor: pointer;
}

.switch {
    padding: 10px 20px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px;

}


.edit-btn {
    padding: 10px 20px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 30px;
}

.delete-btn {
    padding: 10px 20px;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}